.homeContainer {
    height: 80vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
}

.placesContainer {
    height: 19vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.placeName {
    
}

.placeAddress {
    
}

.homeRating {
    
}