////mixins///
.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:		@x @y @blur @spread rgba(0, 0, 0, @alpha);
}
.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}
.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:    inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:         inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}
.horizontal-gradient (@startColor: #eee, @endColor: white) {
 	background-color: @startColor;
	background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
	background-image: -webkit-linear-gradient(left, @startColor, @endColor);
	background-image: -moz-linear-gradient(left, @startColor, @endColor);
	background-image: -ms-linear-gradient(left, @startColor, @endColor);
	background-image: -o-linear-gradient(left, @startColor, @endColor);
}
.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

/////
////LESS
.homeContainer {
    height: 80vh;
    display: flex;
    flex-direction: column;
}
.nextAndPreviousContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    
.previous {
	width: 100px;
	height: 35px;
	line-height: 35px;
	text-align: center;
    margin: 10px;
	.border-radius (3px);
	.horizontal-gradient (#45CD2D, #209B0A);
	.box-shadow (3px 5px rgba(15, 82, 3, 0.75));
	&:active {
		.box-shadow (1px 2px rgba(0, 0, 0, 0.75));
		.inner-shadow(0, 5px, 8px, 0, 0.55);
	}
	&:hover {
	cursor: pointer;
	}
}
.next {
	width: 100px;
	height: 35px;
	line-height: 35px;
	text-align: center;
    margin: 10px;
	.border-radius (3px);
	.horizontal-gradient (#45CD2D, #209B0A);
	.box-shadow (3px 5px rgba(15, 82, 3, 0.75));
	&:active {
		.box-shadow (1px 2px rgba(0, 0, 0, 0.75));
		.inner-shadow(0, 5px, 8px, 0, 0.55);
	}
	&:hover {
	cursor: pointer;
	}
}
}

.NearYou {
    margin: 20px;
    font-size: 24px;
    text-align: center;
}

.placesContainer {
    height: 22vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    word-wrap: break-word;
    border-left: thick solid blue;
    margin: 7px;
    background-color: #eaecef;
    .drop-shadow (0, 2px, 3px, 0, 0.25);
}

.placeName {
    text-align: center;
    padding: 5px;
    width: 40vw;
    
}

.placeAddress {
    text-align: center;
//    background-color: burlywood;
    padding: 5px;
    width: 40vw;
}

.homeRating {
    text-align: center;
//    background-color: greenyellow;
    padding: 5px;
    width: 15vw;
}

.newRestaurant {
    text-align: center;
    margin: 5px;
}