@import 'mixins.less';
///LESS///
body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.imageContainer {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    .horizontal-gradient(#E8E7C0, #F5F4AD)
//    img {
//        height: 100%;
//        width: 100%;
//        position: absolute;
//        opacity: 0.35;
//    }
}

#topNavBar {
    height: 10vh;
    .flex-row;
    margin-bottom: 3px;
    position: relative;
    opacity: .9;
    z-index: 2;
    .horizontal-gradient (#55575F, #959699);
    .drop-shadow (0, 8px, 6px, 0, 0.55);
    
    
    &:hover {
        opacity: 1;
    }
}

.restaurantLogo {
    font-size: 75px;
    width: 33%;
    margin-top: -17px;
    
    &:hover {
        cursor: pointer;
    }
}

.magGlass {
    font-size: 45px;
    padding-top: 3px;
    padding-left: 30px;
    width: 33%;
    
    &:hover {
        cursor: pointer;
    }
}

.foodzLogo {
    font-family: 'orange-juice';
    font-size: 40px;
    margin-right: 10px;
    padding-top: 10px;
    width: 33%;
    
    &:hover {
        cursor: pointer;
    }
}

.mask {
    min-height: 100vh;
    background-color: black;
    opacity: .7;
}

.loginButton {
    width: 150px;
	height: 55px;
	line-height: 55px;
	text-align: center;
    margin: 20px;
    position: relative;
    opacity: .9;
    background-color: lightgray;
    .title-text;
	color: black;
    .border-radius (3px);
	&:active {
		.inner-shadow(0, 5px, 8px, 0, 0.55);
	}
	&:hover {
        cursor: pointer;
        opacity: 1;
	}
}
///create new user view///
.information {
    color: white;
    padding: 20px;
}