@import 'mixins.less';
///LESS///
body {
    height: 100vh;
    width: 100vw;
}

.imageContainer {
    position: relative;
    overflow: visible;//hidden works as well//
    
    img {
        height: 100vh;
        position: absolute;
        width: 100%;
        opacity: 0.45; 
    }
}

#topNavBar {
    height: 10vh;
    .flex-row;
    margin-bottom: 3px;
    position: relative;
    opacity: .9;
    z-index: 2;
    .horizontal-gradient (#55575F, #959699);
    .drop-shadow (0, 8px, 6px, 0, 0.55);
    
    
    &:hover {
        opacity: 1;
    }
}

.restaurantLogo {
    font-size: 75px;
    width: 33%;
    padding-left: 10px;
    margin-top: -10px;
    
    &:hover {
        cursor: pointer;
    }
}

.magGlass {
    font-size: 40px;
    padding-top: 10px;
    padding-left: 60px;
    width: 33%;
    
    &:hover {
        cursor: pointer;
    }
}

.foodzLogo {
    font-family: 'orange-juice';
    font-size: 50px;
    padding-top: 15px;
    width: 33%;
    
    &:hover {
        cursor: pointer;
    }
}