@import 'mixins.less';
///LESS/////
.container {
    max-height: 85vh;
    .flex-column;
    overflow-y: scroll;
}

.placeInfo {
    .flex-row;
    width: 100vw;
}
    
.itemName {
    width: 70vw;
    .title-text;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    
}

.itemRating {
    width: 25vw;
    padding-top: 7px;
    .standard-text;
    font-weight: bold;
}


.itemContainer {
    height: 15vh;
    .flex-row;
    justify-content: space-around;
    padding: 5px;
    border-left: thick solid #CF504A;
    margin: 10px;
    background-color: #A9A9AD;
    border-radius: 2px;
    position: relative;
    opacity: .9;
    .standard-text;
    .drop-shadow (0, 2px, 3px, 0, 0.25);
    
    &:hover {
        cursor: pointer;
        opacity: 1;
        .drop-shadow (0, 5px, 5px, 0, 0.55)
    }
}

.itemTitle {
    .title-text;
    text-align: center;
    height: 20%;
}

.itemMessage {
    text-align: center;
    height: 60%;
    padding: 5px;
}

.menuRedirect {
    width: 200px;
    position: fixed;
    bottom: 5px;
    left: 0;
    padding-left: 10px;
    opacity: .5;
    z-index: 2;
    .standard-text;
    
    &:hover {
        opacity: 1;
        color: white;
        }
    
    a {
        text-decoration: none;
        color: white;
    }
}

.addNoteButton {
    position: fixed;
    bottom: 7px;
    right: 10px;
	width: 100px;
	height: 35px;
	line-height: 35px;
	text-align: center;
    z-index: 2;
    .standard-text;
    font-weight: bold;
	.border-radius (3px);
	.horizontal-gradient (#403B3B, #eee);
//	.box-shadow (3px 5px rgba(0, 0, 0, 0.45));
	&:active {
//		.box-shadow (1px 2px rgba(0, 0, 0, 0.45));
		.inner-shadow(0, 5px, 8px, 0, 0.55);
	}
	&:hover {
        cursor: pointer;
        .horizontal-gradient (#A7A4A4, #eee);
	}
}

.bottomContainer {
    width: 100vw;
    min-height: 50px;
    padding-left: 10px;
    position: fixed;
    bottom: 0;
    text-align: left;
    background-color: #403B3B;
    .standard-text;
    .box-shadow (5px -5px 3px rgba(0, 0, 0, 0.20));
}

.noNotes {
    text-align: center;
    font-size: 40px;
    color: dimgrey;
    padding-top: 200px;
}