@font-face {
        font-family: "orange-juice";
        src: url('./fonts/oj.ttf');
}
@font-face {
        font-family: "pc";
        src: url('./fonts/print_clearly.ttf');
}
@font-face {
        font-family: "napo";
        src: url('./fonts/Napo-Regular_TRIAL.ttf');
        font-weight: bolder;
}